<article class="flex flex-col gap-15 items-center justify-center my-15" id="FAQ">
    <h2 class="text-2xl">FAQ</h2>
    <section class="flex flex-col items-start justify-start gap-2">
        <details class="group border border-neutral-700 rounded-sm p-4 text-white transition-all duration-300">
            <summary class="cursor-pointer font-semibold">Is SamJS a free tier of something?</summary>
            <p class="max-w-[50ch]">Of course no! SamJS is completely <b>free</b> and <b>open source</b> and it continue as that way as much time as you use it.</p>
        </details>
        <details class="group border border-neutral-700 rounded-sm p-4 text-white transition-all duration-300">
            <summary class="cursor-pointer font-semibold">How can I report bugs?</summary>
            <p class="max-w-[50ch]">The bugs you find can be reported by the <a href="https://github.com/TecnoSamba21/SamJS/issues" class="border-b border-white">GitHub repository</a> of the project. Please, report any bug you find, even if you think it is silly or without any importance.</p>
        </details>
        <details class="group border border-neutral-700 rounded-sm p-4 text-white transition-all duration-300">
            <summary class="cursor-pointer font-semibold">What license is SamJS under of?</summary>
            <p class="max-w-[50ch]">SamJS is under the <b>Apache 2.0</b> license, wich is open source with copy left and with commercial use forbidden. This web page is also under the same license.</p>
        </details>
        <details class="group border border-neutral-700 rounded-sm p-4 text-white transition-all duration-300">
            <summary class="cursor-pointer font-semibold">How can I test SamJS before installing?</summary>
            <p class="max-w-[50ch]">You can test SamJS in the <a href="https://samjs.vercel.app" class="border-b border-white">web version</a> of the app wich has all the same functionalities of the destop version but in your browser.</p>
        </details>
    </section>
</article>