<div class="flex flex-col items-center justify-center">
    <article class="w-200 h-150">
        <section class="col-1 row-1 w-60 flex flex-col gap-3 border-r border-b border-white">
            <h4 class="text-xl font-bold">In-real-time compilation</h4>
            <p>Run the code imediately while you type without any delay, also with code autocompletion</p>
        </section>
        <section class="col-3 row-1 w-60 flex flex-col gap-3 border-l border-b border-white px-2">
            <h4 class="text-xl font-bold">Multiple console methods</h4>
            <p>Support for several different console methods with its corresponding style</p>
        </section>
        <section class="w-100 h-full flex row-2 col-2 items-center justify-center">
            <img src="/info.png" alt="SamJS functionalities" class="w-150" />
        </section>
        <section class="col-1 row-3 w-60 flex flex-col gap-3 border-r border-t border-white px-2">
            <h4 class="text-xl font-bold">Import npm modules</h4>
            <p>The asyncronous require method can be used for importing npm packages</p>
        </section>
        <section class="col-3 row-3 w-60 flex flex-col gap-3 border-l border-t border-white px-2">
            <h4 class="text-xl font-bold">Syntax highlighting</h4>
            <p>SamJS also provides syntax highlighting to easily indentify the different syntax elements</p>
        </section>
    </article>
</div>

<style>
    article {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        gap: 8px;
    }
</style>