---
import '../styles/global.css'
import Logo from './Logo.astro'
---

<div class="w-full flex items-center justify-center py-20">
    <main class="flex flex-col items-center justify-center">
        <Logo classes='text-6xl font-bold' />
        <p class="my-5 text-[18px]">An <span class="text-[#38b6ff]">Open Source</span> free in-real-time <span class="text-[#FFFF00]">JavaScript</span> runner</p>
        <img src="/GUI.png" alt="GUI of the app" id="GUI" class="">
    </main>
</div>

<style>
    @keyframes appear {
        0% {
            opacity: 0%;
            filter: blur(20px);
        }

        10% {
            opacity: 1;
            filter: brightness(1.5) blur(10px);
        }
    }

    #GUI {
        animation: appear 1s;
    }
</style>