---
import ClientRouter from "astro/components/ClientRouter.astro";
import '../styles/global.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<slot class="md:w-full" />
	</body>
</html>

<style>
	* {
		color-scheme: dark;
	}

	html,
	body {
		margin: 0;
		width: 100vw;
		height: 100vh;
		background-color: #1e1e1e;
		color: white;
		overflow-x: hidden;
	}
</style>
